<?xml version="1.0"?>

<robot name="btb"  
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tb_description)/urdf/turtlebot_body.urdf.xacro" />
  <xacro:include filename="$(find tb_description)/urdf/turtlebot_calibration.xacro" />
  <xacro:include filename="$(find tb_description)/urdf/turtlebot_kinect.urdf.xacro" />
  <xacro:include filename="$(find tb_description)/urdf/smart_arm.xacro" />
  <xacro:include filename="$(find tb_description)/urdf/constants.xacro" />
  <xacro:include filename="$(find tb_description)/urdf/gazebo.urdf.xacro" />

  <gazebo>   
     
     <!--controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>1000.0</updateRate>
          <robotNamespace>dynamixel</robotNamespace>
          <robotParam>robot_description</robotParam>
          <interface:audio name="gazebo_ros_controller_manager_dummy_iface" />
     </controller:gazebo_ros_controller_manager-->
     
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/dynamixel</robotNamespace>
    </plugin>
     
     
  </gazebo>

  <!-- Body of TurtleBot, with plates, standoffs and Create (including sim sensors) -->
  <turtlebot_body/>
  
  <!--turtlebot_sim_imu_left/>
  <turtlebot_sim_imu_right/-->
  
   <smart_arm parent="base_link">
     <origin xyz="0.13 0 0.12" rpy="0 0 0" />
   </smart_arm>
  
  <!-- Kinect frames and mounting (includes simulation) -->
  <turtlebot_kinect/>

  
</robot>
