<?xml version="1.0"?>
<launch>

  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find tb_description)/robots/turtlebot.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="20.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
    
</launch>
